.body{
    margin: 3% 4%;
}

.box{
    margin-top: 2.4%;
}

.tittle{
    text-align: center;
}

.mensaje-error{
    color: red;
    opacity: 0;
    transition: all linear 0.3s;
    &.invalid{
        opacity: 1;
    }
}